<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>892657712020-o2f49knuc18j9in6da66cto5m93h05rk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.892657712020-o2f49knuc18j9in6da66cto5m93h05rk</string>
	<key>API_KEY</key>
	<string>AIzaSyCatHia-nJXl7MajPFM_5NOfhNG8FbtmFM</string>
	<key>GCM_SENDER_ID</key>
	<string>892657712020</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jaishiva.eCommerce</string>
	<key>PROJECT_ID</key>
	<string>e-commerce-furniture</string>
	<key>STORAGE_BUCKET</key>
	<string>e-commerce-furniture.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:892657712020:ios:7539138c8be494976dad81</string>
	<key>DATABASE_URL</key>
	<string>https://e-commerce-furniture.firebaseio.com</string>
</dict>
</plist>